body {
  background: #f5c9c5;
}

header {
  margin-top: 30px;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
}

form {
  margin-top: 20px;
}

form,
#results,
#searchText {
  padding: 0 20px;
}

#searchText {
  font-size: 2em;
  margin: 1em 0;
}

.item {
  margin-bottom: 25px;
  border: 3px solid #a6a6a6;
  padding: 0 1em 1em;
}

.w100 {
  width: 100%;
}

.btn-primary {
  background: #952b2b;
  border-color: #957575;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background: #782b2b;
  border-color: #952b2b;
}

.hiddenBlock {
  height: 0;
  overflow: hidden;
  transition: height .5s;
}

h2[data-target] {
  cursor: pointer;
}