<div class="item">
  <h2 data-target="#{{videoid}}">{{title}}</h2>
  <div class="hiddenBlock" id="{{videoid}}">
    <div class="videoBlock">
      <h3>Автор - {{author}}</h3>
      <h3>Дата - {{date}}</h3>
      <iframe class="video w100" width="100%" height="360" src="//www.youtube.com/embed/{{videoid}}" frameborder="0"
        allowfullscreen></iframe>
    </div>
  </div>
</div>